extends ./master.jade

block content
  //- .container
  //-   p Hello World! 
  //-   p 
  //-     span
  //-       a(href="list") List Users
  //-   p 
  //-     span
  //-       a(href="add") Add User  
  .container
    p
      a(href="list") List Users
      span |
      a(href="add") Add User 